Repository B-IoT/vertx-backend: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-backend-services-job, run-triangulation-service-job

.circleci/config.yml:

# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1
# This allows you to use CircleCI's dynamic configuration feature
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
  python: circleci/python@1.4.0
parameters:
  run-backend-services-job:
    type: boolean
    default: false
  run-triangulation-service-job:
    type: boolean
    default: false
jobs:
  build-backend-services:
    machine: true
    working_directory: ~/vertx-backend

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - run:
          name: Install OpenJDK 11
          command: |
            sudo apt-get update && sudo apt-get install openjdk-11-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-amd64/bin/javac
            java -version

      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      # run tests!
      - run: ./gradlew test --info --stacktrace

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results

      - run: ./gradlew jacocoRootReport
      - run: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
  build-triangulation-service:
    executor: python/default
    working_directory: ~/vertx-backend/triangulation
    steps:
      - checkout
      - python/install-packages:
          pip-dependency-file: requirements_dev.txt
          pkg-manager: pip
      - run: pytest -o log_cli=true --capture=no 
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          # 3-column, whitespace-delimited mapping. One mapping per line: <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>.
          mapping: |
            crud/.* run-backend-services-job true
            public-api/.* run-backend-services-job true
            relays-communication/.* run-backend-services-job true
            triangulation/.* run-triangulation-service-job true
          base-revision: main
          # this is the path of the configuration we should trigger once path filtering and pipeline parameter value updates are complete. In this case, we are using the parent dynamic configuration itself.
          config-path: .circleci/config.yml
  backend-services:
    when: << pipeline.parameters.run-backend-services-job >>
    jobs:
      - build-backend-services
  triangulation-service:
    when: << pipeline.parameters.run-triangulation-service-job >>
    jobs:
      - build-triangulation-service

Fix CI config
  .circleci/config.yml
Due: none

Fix CI config
  .circleci/continue_config.yml
Due: none

Fix CI config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

Update CI config and docker compose config for tests
  .circleci/config.yml
  triangulation/tests/docker-compose.yml
Due: run-triangulation-service-job

Add tests path to CI for triangulation
  .circleci/config.yml
Due: none

Fix test results path
  .circleci/config.yml
Due: none

Location engine tests (#76)
  .circleci/config.yml
  .gitignore
  init/timescale/setup.sql
  triangulation/README.md
  triangulation/__init__.py
  triangulation/requirements_dev.txt
  triangulation/setup.py
  triangulation/src/config.py
  triangulation/src/kafka.py
  triangulation/src/main.py
  triangulation/src/triangulation.py
  triangulation/tests/__init__.py
  triangulation/tests/conftest.py
  triangulation/tests/docker-compose.yml
  triangulation/tests/kafka_test.py
  triangulation/tests/producer.py
  triangulation/tests/triangulation_test.py
Due: run-triangulation-service-job

Add usage of kotlin-logging, adjust log level for readiness and liveness checks
  .gitignore
  build.gradle.kts
  crud/build.gradle.kts
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/main/kotlin/ch/biot/backend/crud/Helpers.kt
  public-api/build.gradle.kts
  public-api/src/main/kotlin/ch/biot/backend/publicapi/Helpers.kt
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
  relays-communication/build.gradle.kts
  relays-communication/src/main/kotlin/ch/biot/backend/relayscommunication/RelaysCommunicationVerticle.kt
Due: run-backend-services-job

Add usage of kotlin-logging, adjust log level for readiness and liveness checks (#77)
  .gitignore
  build.gradle.kts
  crud/build.gradle.kts
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/main/kotlin/ch/biot/backend/crud/Helpers.kt
  public-api/build.gradle.kts
  public-api/src/main/kotlin/ch/biot/backend/publicapi/Helpers.kt
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
  relays-communication/build.gradle.kts
  relays-communication/src/main/kotlin/ch/biot/backend/relayscommunication/RelaysCommunicationVerticle.kt
Due: run-backend-services-job

Hot fix for buggy triangulation service, due to Python modules
  triangulation/Dockerfile
  triangulation/setup.py
  triangulation/src/kafka.py
  triangulation/src/main.py
  triangulation/src/triangulation.py
  triangulation/src/triangulator.py
  triangulation/tests/triangulator_test.py
Due: run-triangulation-service-job

Fix imports in tests
  triangulation/tests/conftest.py
  triangulation/tests/kafka_test.py
  triangulation/tests/triangulator_test.py
Due: run-triangulation-service-job

Fix imports in tests
  triangulation/src/kafka.py
  triangulation/src/main.py
  triangulation/src/triangulator.py
Due: run-triangulation-service-job

Changes requested by UAT2 arsante
  crud/build.gradle.kts
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleRelays.kt
  init/timescale/setup.sql
Due: run-backend-services-job

Changes requested by UAT2 arsante (#81)
  crud/build.gradle.kts
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleRelays.kt
  init/timescale/setup.sql
Due: run-backend-services-job

Make the services runnable more easily with docker-compose
  README.md
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
  run.sh
Due: run-backend-services-job

Change crud port to 8081
  crud/build.gradle.kts
  crud/k8s/configmap.yaml
  crud/k8s/deployment.yaml
  crud/k8s/service.yaml
Due: run-backend-services-job

Easier local dev environment (#82)
  README.md
  crud/build.gradle.kts
  crud/k8s/configmap.yaml
  crud/k8s/deployment.yaml
  crud/k8s/service.yaml
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
  run.sh
Due: run-backend-services-job

Add scan query parameter to updateItem
  swagger-api/swagger.yaml
Due: none

Add scan parameter to updateItem
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
  public-api/src/test/kotlin/ch/biot/backend/publicapi/TestPublicApiVerticle.kt
Due: run-backend-services-job

Add scan query parameter to updateItem (#83)
  swagger-api/swagger.yaml
Due: none

Add new swagger version
  crud/src/main/resources/swagger.yaml
Due: run-backend-services-job

Add scan parameter to update item (#84)
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/main/resources/swagger.yaml
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
  public-api/src/test/kotlin/ch/biot/backend/publicapi/TestPublicApiVerticle.kt
  swagger-api/swagger.yaml
Due: run-backend-services-job

Add UpdatesManager and start defining pgSubscriber to use it
  crud/build.gradle.kts
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/main/kotlin/ch/biot/backend/crud/updates/UnhandledPublishedMessageException.kt
  crud/src/main/kotlin/ch/biot/backend/crud/updates/UpdateType.kt
  crud/src/main/kotlin/ch/biot/backend/crud/updates/UpdatesManager.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleAnalytics.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
Due: run-backend-services-job

Update architecture image
  README.md
  documentation/architecture.dot
  documentation/architecture.png
Due: none

Finish implementation of real-time updates
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/main/kotlin/ch/biot/backend/crud/Helpers.kt
  crud/src/main/kotlin/ch/biot/backend/crud/updates/PublishMessageException.kt
  crud/src/main/kotlin/ch/biot/backend/crud/updates/UnhandledPublishedMessageException.kt
  crud/src/main/kotlin/ch/biot/backend/crud/updates/UpdatesManager.kt
  init/timescale/setup.sql
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
Due: run-backend-services-job

Change JWT issuer to BioT
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
Due: run-backend-services-job

Add getUserInfo
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
Due: run-backend-services-job

Fix getUserInfo endpoint (was items, now is correctly users)
  public-api/src/main/kotlin/ch/biot/backend/publicapi/PublicApiVerticle.kt
Due: run-backend-services-job

Fix timescale setup and add tests for real-time updates
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
  init/timescale/setup.sql
Due: run-backend-services-job

Fix tests
  crud/src/main/kotlin/ch/biot/backend/crud/CRUDVerticle.kt
  crud/src/test/kotlin/ch/biot/backend/crud/TestCRUDVerticleItems.kt
Due: run-backend-services-job

Add more tests
  crud/src/test/kotlin/ch/biot/backend/crud/updates/TestPublishMessageException.kt
  public-api/src/test/kotlin/ch/biot/backend/publicapi/TestPublicApiVerticle.kt
Due: run-backend-services-job
